<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Your question</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" nbInput fullWidth placeholder="Type your question here">
          <button type="submit" nbButton status="primary">Search</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Search Result</nb-card-header>
      <nb-card-body>
        <div class="text-placeholder">
          <article>
            <h2>Question title</h2>
            <p>This is the answer of the problem. You can find more information on the website if you want.</p>
          </article>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
